{% extends 'base.html' %}
{% block title %}Lista de Estudiantes{% endblock %}

{% block content %}

<div class="level">
    <div class="level-left">
        <h2 class="title is-4">Lista de Estudiantes</h2>
    </div>

    <div class="level-right">
        <a href="{{ url_for('create_estudiante') }}" 
           class="button is-success">
           Agregar Estudiante
        </a>
    </div>
</div>

<div class="box">
    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>No. control</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Semestre</th>
                <th class="has-text-centered">Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for estudiante in estudiantes %}
            <tr>
                <td>{{ estudiante.no_control }}</td>
                <td>{{ estudiante.nombre }}</td>
                <td>{{ estudiante.ap_paterno }}</td>
                <td>{{ estudiante.ap_materno }}</td>
                <td>{{ estudiante.semestre }}</td>

                <td class="has-text-centered">
                    <a href="{{ url_for('update_estudiante', no_control=estudiante.no_control) }}" 
                       class="button is-warning is-small">
                       Actualizar
                    </a>

                    <a href="{{ url_for('delete_estudiante', no_control=estudiante.no_control) }}" 
                       class="button is-danger is-small">
                       Eliminar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}